<section class="c-custom_bar" style="background-image: url('{{ content.image.url }}')">
    <div class="overlay"></div>
    <div class="o-container">
        <p class="white">{{ content.content }}</p>
        <p class="yellow">{{ content.tagline }}</p>
    </div>
</section>