<section class="c-form">
    <div class="o-container">
        <div class="c-form__contact">
            {{ function('do_shortcode', content.form_shortcode)|raw }}
        </div>
    </div>
</section>