<section id="{{ content.id }}" class="c-full_signage" style="background-color: {{ content.background_color }};">
    <div class="o-container">
        <h1>{{ content.title }}</h1>
        <p>{{ content.tagline }}</p>
    </div>
</section>