.o-btn {
    position: relative;
    display: inline-block;
    border-radius: 29px;
    padding: 15px 35px;
    font-size: 12px;
    @include tablet {
        font-size: 14px;
        padding: 21px 36px;
    }
    font-weight: 600;
    line-height: 16px !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    max-height: 61px;
    letter-spacing: 1.38px;
    transition: all 500ms ease-out;
    z-index: 5;

    &.--accent {
        color: #ffffff;
        border: 0;
        z-index: 1;
        background: linear-gradient(270deg, #5ac092 8.84%, #03b2c6 77.73%);
        box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.15);

        &::before {
            width: 100%;
            height: 100%;
            box-shadow: inherit;
            position: absolute;
            display: inherit;
            content: "";
            top: 0;
            left: 0;
            z-index: -5;
            opacity: 0;
            background: linear-gradient(270deg, #2e956c 8.84%, #01879c 77.73%);
            border-radius: inherit;
            transition: all 300ms ease;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    &.--primary {
        color: #659191 !important;
        border: 2px solid #aed1d1;

        &:hover {
            background: #0cb3c1;
            color: white !important;
            border: 2px solid #0cb3c1;
        }
    }

    &.--white {
        color: #ffffff;
        border: 2px solid white;
        background: transparent;

        &:hover {
            background: white;
            border: 2px solid white;
            color: #659191;
        }
    }
}

.o-circle {
    position: relative;
    border: 2px solid #aed1d1;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.o-link {
    color: #86a2a2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.38px;
    line-height: 17px;
    text-transform: uppercase;
}

.cta {
    &--blue {
        border: 3px solid #38d6d6;
        color: #000;
        padding: 12px 35px;
        display: block;
        border-radius: 25px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 auto;
        max-width: 155px;
        text-align: center;
        @include maxpoint(480px) {
            font-size: 13px;
        }
    }
}
