.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    @include maxpoint($desktop-md) {
        padding: 0 40px;
    }

    &--full {
        max-width: 100%;
        position: relative;
    }
    &.--fd_cr {
        flex-direction: column-reverse;
        @include maxpoint($tablet) {
            flex-direction: column-reverse;
        }
        @include maxpoint($desktop) {
            flex-direction: initial;
        }
    }
    &.mx1200 {
        max-width: 1200px;
    }
}

.content {
    padding-top: 70px;
    padding-bottom: 40px;
}
