.o-cta {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 14px 20px;
    background-color: $yellow;
    color: #fff;
    position: relative;
    display: inline-block;
    transition: background linear 0.2s;
    &:hover {
        background: #E49B05;
    }
    @include maxpoint($desktop) {
        left: -20px;
    }
    &:after {
        content: '';
        height: 47px;
        width: 48px;
        background-position: center center;
        background-color: #E49B05;
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        position: absolute;
        right: -48px;
        top: 0;
    }
    &.--brkline {
        white-space: normal;
    }
}
.o-cta_submit {
    position: relative;
    input {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding: 14px 20px;
        background-color: $yellow;
        color: #fff;
        position: relative;
        display: inline-block;
        z-index: 10;
        cursor: pointer;
        font-size: 10px;
        padding: 14px 16px;
        transition: background linear 0.2s;
        &:hover {
            background: #E49B05;
        }
        @include maxpoint($tablet) {
            font-size: 16px;
            padding: 14px 20px;
        }
    }
    span {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &:after {
            content: '';
            height: 47px;
            width: 48px;
            background-position: center center;
            background-color: #E49B05;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            position: absolute;
            right: -48px;
            top: 0;
        }
    }
}