.c-custom_bar {
    padding: 80px 0px;
    background-color: #1C3329;
    background-repeat: no-repeat;
    background-position: bottom right;
    .white {
        color: #fff;
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 28px;
        max-width: 655px;
    }
    .yellow {
        max-width: 425px;
        font-size: 31px;
        line-height: 40px;
        color: #FFB319;
        margin-bottom: 0;
    }
}