.c-related_articles {
    padding-top: 77px;
    padding-bottom: 96px;
    background: #F8F8F8;
    .c-title-nav {
        .c-title-nav_heading {
            padding-top: 0;
            margin-top: 0;
        }
    }
}