$color-teal: #03B2C6;
$color-white: #FFFFFF;
$color-light-green: #DBE9E9;
$color-dark-green: #86A2A2;
$color-green: #6DC386;
$color-black: #404547;
$color-gray: #999999;
$color-light-gray: #EFEEEE;
$color-cruise: #ABDFD4;
$color-almost-white: #F3F2F1;
$color-grey: #C2C2C2;
$color-red: #FC5C65;
$color-disabled: #F7F7F7;
$color-gradient: linear-gradient(90deg, rgba(3,178,198,1) 50%, rgba(109,195,134,1) 100%);
$color-primary: #68C2CC;
$color-accent: $color-green;
