$red : #A20005;
$green : #008075;
$orange : #CC6500;
$yellow : #FFB319;
$grey : #3B423F;

.bg-red {
    background-color: #A20005;
}

.bg-green {
    background-color: #008075;
}

.bg-orange {
    background-color: #cc6500;
}

.bg-yellow {
    background-color: #ffb319;
}

.bg-grey {
    background-color: #3b423f;
}

.ft-red {
    color: #A20005;
}

.ft-green {
    color: #008075;
}

.ft-orange {
    color: #cc6500;
}

.ft-yellow {
    color: #ffb319;
}

.ft-grey {
    color: #3b423f;
}
