@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

@font-face {
    font-family: 'BasicGothicPro';
    src: url(../fonts/BasicGothicPro.woff2) format('woff2'),
         url(../fonts/BasicGothicPro.woff) format('woff'),
         url(../fonts/BasicGothicPro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}