<div class="c-nav_burger">
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="c-nav_menu-wrapper">
	<ul class="c-nav_menu">
		<li><a href="#">home</a></li>
		<li><a href="#">company</a></li>
		<li><a href="#">opportunity</a></li>
		<li><a href="#">news</a></li>
		<li><a href="#">contact</a></li>
	</ul>
	<a href="#" class="c-nav_login">login</a>
	<img src="assets/images/uus.png" alt="" class="c-nav_country-logo">
</div>
