// DISPLAY
.u-dn {
    display: none !important;
}
.u-df {
    display: flex;
}

.u-db {
    display: block;
}

.u-df\@t {
    @include tablet {
        display: flex !important;
    }
}
.u-dn\@t {
    @include tablet {
        display: none !important;
    }
}

// FLEXBOX
.u-dfw-w {
    flex-wrap: wrap;
}

.u-dfd-r {
    flex-direction: row !important;
}

.u-dfd-c {
    flex-direction: column !important;
}

.u-dfd\@t-r {
    @include tablet {
        flex-direction: row;
    }
}

.u-dfj-sb {
    justify-content: space-between;
}

.u-dfj-sa {
    justify-content: space-around;
}

.u-dfj-c {
    justify-content: center;
}

.u-dfj-e {
    justify-content: flex-end;
}
.u-dfj-s {
    justify-content: flex-start;
}

.u-df-fb100 {
    flex-basis: 100%;
}

.u-dfas-fs {
    align-self: flex-start;
}

.u-dfj\@t-fs {
    @include tablet {
        justify-content: flex-start;
    }
}

.u-dfj\@t-sb {
    @include tablet {
        justify-content: space-between;
    }
}

// HEIGHT

.u-hvh-100 {
    height: 100vh;
    @include maxpoint(767px) {
        height: 70vh;
    }
    @include maxpoint(1150px) {
        height: 100vh;
    }
}

.u-hvh-70 {
    height: 100vh;
    @include maxpoint(767px) {
        height: 70vh;
    }
}

.u-ha {
    height: auto;
}

// FULL WIDTH
.u-fw-100 {
    width: 100% !important;
}
//HALF WIDTH

.u-hw-50 {
    width: 49%;
}

// Margins
.u-m-a0 {
    margin: auto 0;
}

.u-m-0a {
    margin: 0 auto;
}

.u-m-r81 {
    margin-right: 81px;
}

.u-m-l81 {
    margin-left: 81px;
}

// PADDING
.u-pt-100 {
    padding-top: 100px;
}

.u-ptb-80 {
    padding: 80px 0;
}

.u-ttu {
    text-transform: uppercase;
}

// TEXT ALIGN

.u-ta-c {
    text-align: center;
}

.u-ta-l {
    text-align: left;
}

.u-ta-r {
    text-align: right;
}

//  BACKGROUND
.u-bgs-c {
    background-size: cover;
}

.u-bgs-center {
    background-position: center;
}

.u-bgc-grey {
    background-color: #f3f2f1;
}
.u-bgc-dgrey {
    background-color: #f7f7f7;
}

.u-ofl-hidden {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

// Flex
.fd-rr {
    @include maxpoint(924px) {
        flex-direction: row-reverse !important;
    }
}

// mobile desktop

.mobile_only {
    display: block;
    @include maxpoint(769px) {
        display: none !important;
    }
}

.hide_mobile {
    display: none;
    @include maxpoint(769px) {
        display: block;
    }
}
